*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/shelf/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/
h5-ui/node_modules/
h5-ui/dist/
app/src/main/assets/web/
